<%= form_for @mascota, url: mascota_path do |f| %>
  <% if @mascota.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        <h4><%= pluralize(@mascota.errors.count, "error") %> prohibido guardar esta mascota:</h4>

        <ul>
            <% @mascota.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>

      <% end %>


      <%= f.label :nombre %>
      <%= f.text_field :nombre %><br>

      <%= f.label :fecha_nac %>
      <%= f.text_field :fecha_nac%>
      <br>

      <%= f.label :tipo_mascota_id %>
      <%= f.text_field :tipo_mascota_id %>

      <br>
      <%= f.label :dueno_id %>
      <%= f.text_field :dueno_id %>
<br>
      <%= f.submit %>

    <% end %>
