<h1>Mascota</h1>
<h1><%= @mascota.nombre.to_s %></h1>

Nombre = <%=@mascota.nombre.to_s%><br>
Tipo de mascota = <%=@mascota.tipo_mascota_id.to_s%><br>
Dueño = <%=@mascota.dueno_id.to_s%><br>
Fecha de nacimiento = <%=@mascota.fecha_nac.to_s%>
<br><br><br>

<%= link_to 'Atras', mascotas_url %>
<%= link_to 'Editar', editar_mascota_path(@mascota) %><tr>
