<h1>Mascota#mostrar</h1>
<h1><%= @mascota.nombre.to_s %></h1>

<p>Find me in app/views/mascota/mostrar.html.erb</p>

Nombre = <%=@mascota.nombre.to_s%><br>
id Tipo de mascota = <%=@mascota.tipo_mascota_id.to_s%><br>
id Dueño = <%=@mascota.dueno_id.to_s%><br>
Fecha de nacimiento = <%=@mascota.fecha_nac.to_s%>
<br><br><br>

<%= link_to 'Atras', mascotas_url %>
