<h1>Duenos#index</h1>
<p>Find me in app/views/duenos/index.html.erb</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Telefono</th>
            <th >Mail</th>
            <th>Mostrar</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <% @dueno.each do |dueno| %>
          <tr>
              <td><%= dueno.nombre %></td>
              <td><%= dueno.telefono %></td>
              <td><%= dueno.mail %><br></td>
              <td><%= link_to 'Mostrar', dueno %> </td>
              <td><%= link_to 'Editar',editar_dueno_path(dueno) %></td>
              <td><%= link_to "Delete", dueno_path(dueno), :confirm => "Are you sure?", :method => :eliminar %>
              </td>
          </tr>
        <% end %>
    </tbody>
</table>
<<<<<<< HEAD
<%= will_paginate @dueno, renderer: BootstrapPagination::Rails %>
=======
<%= will_paginate @dueno, renderer: BootstrapPagination::Rails %>
>>>>>>> 688aa38d7e5f2099269443a3c5ca58b832ec03b6
