<h1><%=@dueno.nombre  %></h1>
<p>Find me in app/views/duenos/mostrar.html.erb</p>
Nombre : <%= @dueno.nombre.to_s %><br>
Telefono : <%= @dueno.telefono.to_s  %><br>
E-mail : <%= @dueno.mail.to_s %>
<br><br><br>
<%= link_to 'Atras', duenos_url %>
