<h1><%=@duenos.nombre  %></h1>
<p>Find me in app/views/duenos/mostrar.html.erb</p>
Nombre : <%= @duenos.nombre.to_s %><br>
Telefono : <%= @duenos.telefono.to_s  %><br>
E-mail : <%= @duenos.mail.to_s %>
<br><br><br>
<%= link_to 'Atras', duenos_url %> 