<h1 class= "text-center"><%=@medico.nombre %></h1>
<p class= "text-center">
ID: <%=@medico.id.to_s %> <br>
Nombre : <%= @medico.nombre.to_s %><br>

</p>
<br><br><br>
<%= link_to 'Editar', editar_medico_path(@medico), class: 'btn btn-warning '  %><tr>
<%= link_to 'Atras', medicos_url,class: 'btn btn-info '  %>
