<h1>Mascotas</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha de nacimiento</th>
            <th>Tipo de Mascota</th>
            <th>Dueño</th>
        </tr>
    </thead>
    <tbody>
        <% @mascotas.each do |mascota| %>
          <tr>
              <td><%= mascota.nombre %></td>
              <td><%=mascota.fecha_nac%></td>
              <td><%= mascota.tipo_mascota.descripcion %></td>
              <td><%= mascota.dueno.nombre %></td>
              <td><%= link_to 'Mostrar', mascota_path(mascota),class: 'btn btn-success ' %> </td>
              <td><%= link_to 'Editar',editar_mascota_path(mascota),class: 'btn btn-warning '  %></td>
              <td><%= link_to'Eliminar',mascota_path(mascota),class: 'btn btn-danger ' , method: :delete, data: {confirm: 'Esta seguro?'} %></td>
          </td>
          </tr>
        <% end %>
    </tbody>
</table>
 <%= will_paginate @mascotas, renderer: BootstrapPagination::Rails %>
