<h1>TipoMascota#index</h1>
<p>Find me in app/views/tipo_mascota/index.html.erb</p>
<table class="table">
    <thead>
        <tr>
            <th>tipo de mascota</th>
        </tr>
    </thead>
    <tbody>
        <% @tipomascota.each do |tipomascota| %>
          <tr>
              <td><%= tipomascota.descripcion %></td>
              <td><%= link_to 'Mostrar', tipo_mascota_url(tipomascota) %> </td>
              <td><%= link_to 'Editar',editar_tipo_mascota_path(tipomascota) %></td>
              <td><%= link_to "Delete", tipomascota , method: :delete, data: {confirm: 'Esta seguro?'} %>
              </td>
          </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate @tipomascota, renderer: BootstrapPagination::Rails %>
